

<%= @artist.name %>


<%= @artist.songs.each do |song| %>


			<h4> <%= song.title %></h4>
			<h4> <%= song.release_date %></h4>
			<h4> <%= song.album %></h4>



<br>
<br>

<% end %>

<p class="navigation">
   <span class="btn btn-default"><%= link_to "Back", root_path %></span>
   <span class="btn btn-default"><%= link_to "Edit", edit_artist_path(@artist) %></span>
   <span class="btn btn-default"><%= link_to "Destroy", artist_path(@artist), method: :delete %></span>
 </p>