

<%= @artist.name %>
<%= @artist.birth_date %> 


<p class="navigation">
   <span class="btn btn-default"><%= link_to "Back", root_path %></span>
   <span class="btn btn-default"><%= link_to "Edit artist", edit_artist_path(@artist)%></span>
   <span class="btn btn-default"><%= link_to "Destroy artist", artist_path(@artist), method: :delete %></span>
 </p>

<br>
<br>
<br>


<%= @artist.songs.each do |song| %>


			<h4> <%= song.title %></h4>
			<h4> <%= song.release_date %></h4>
			<h4> <%= song.album %></h4>



<br>
<br>

<p class="navigation">
   <span class="btn btn-default"><%= link_to "Back", root_path %></span>
   <span class="btn btn-default"><%= link_to "Edit song", edit_song_path(song)%></span>
   <span class="btn btn-default"><%= link_to "Destroy song", song_path(song), method: :delete %></span>
 </p>

<% end %>

