<% @songs.each do |song| %>

<div class="table">
	<div class="row">
			<div class="col-md-8 l-main">
			<h4> <%= song.title %></h4>
			<h4> <%= song.release_date %></h4>
			<h4> <%= song.album %></h4>
			<h4> <%= song.artist_id %></h4>			
			<h4> <%= song.artist.name %></h4>	
<br>
<br>
<br>

<% end %>


