<% @songs.each do |song| %>

<div class="table">
	<div class="row">
			<div class="col-md-8 l-main">
			<h4> <%= link_to song.title , song %></h4>
			<h4> <%= song.release_date %></h4>
			<h4> <%= song.album %></h4>

<p class="navigation">
   <span class="btn btn-default"><%= link_to "Back", root_path %></span>
   <span class="btn btn-default"><%= link_to "Edit", edit_song_path(song)%></span>
   <span class="btn btn-default"><%= link_to "Destroy", song_path(song), method: :delete %></span>
 </p>
 <br>
<br>
<br>

<% end %>


