<div class="row">

<% @songs.each do |song| %>

	
			<div class="col-xs-12 col-sm-6 col-md-3 box highlight"> 
			<h4> <%= link_to song.title , song %></h4>
			<h4> <%= song.release_date %></h4>
			<h4> <%= song.album %></h4>

<p class="navigation">
   <span class="btn btn-default"><%= link_to "Back", root_path %></span>
   <span class="btn btn-default"><%= link_to "Edit", edit_song_path(song)%></span>
   <span class="btn btn-default"><%= link_to "Destroy", song_path(song), method: :delete %></span>
 </p>
 <br>
<br>
<br>
</div>
<% end %>
</div>


