
<p>
<h1> Name of the singer of the previous song: </h1>
</p>

<h4> <%= @song.title %></h4>

<h4> <%= link_to @song.artist.name , artist_path %> </h4>
<p> born on: <%= @song.artist.birth_date %></p>

<p class="navigation">
   <span class="btn btn-default"><%= link_to "Back", root_path %></span>
   <span class="btn btn-default"><%= link_to "Edit", edit_song_path(@song)%></span>
   <span class="btn btn-default"><%= link_to "Destroy", song_path(@song), method: :delete %></span>
 </p>


